In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv("./../data/players_stats.csv")
df.describe()

,season,games_played,wins,loses,win_rate,kills,deaths,assists,kill_death_assist_ratio,creep_score,cs/min,gold,gold/min,damage,damage/min,kill_participation,kill_share,gold_share
count,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,409.000000,409.000000,1111.000000,1111.000000,1111.000000
mean,7.596259,8.339829,4.169914,4.169914,43.983632,2.422377,2.678675,5.573624,3.625511,203.790436,6.048987,11.459938,339.505066,12447.188264,389.574572,66.154545,20.122862,19.969577
std,3.121670,4.126872,3.569781,1.735865,25.033173,1.446430,0.998543,2.242979,2.577616,105.616603,3.054957,2.633076,69.859524,5008.747071,155.067790,9.465618,10.707839,3.601518
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.290000,4.670000,0.170000,4.800000,173.000000,2700.000000,88.000000,26.700000,0.000000,12.400000
25%,5.000000,6.000000,1.000000,3.000000,28.600000,1.330000,2.000000,4.110000,2.080000,128.700000,3.795000,9.600000,288.500000,9100.000000,290.000000,60.300000,13.100000,17.800000
50%,8.000000,7.000000,3.000000,4.000000,44.400000,2.250000,2.600000,5.250000,3.050000,231.380000,7.080000,11.600000,347.000000,12700.000000,403.000000,66.400000,20.000000,20.800000
75%,10.000000,10.000000,6.000000,5.000000,60.000000,3.380000,3.220000,6.815000,4.330000,284.750000,8.545000,13.400000,393.000000,16000.000000,492.000000,72.350000,27.100000,22.700000
max,12.000000,21.000000,15.000000,8.000000,100.000000,10.000000,7.830000,17.000000,25.000000,477.000000,11.170000,21.700000,519.000000,25200.000000,822.000000,100.000000,100.000000,26.900000

In [17]:
# Drop where 'season' is < 3
df = df[df["season"] >= 3]

# Drop columns: 'event', 'team', 'season'
df = df.drop(columns=["event", "team", "season"])

# Replace missing values with the mean of each column in: 'damage', 'damage/min' and 3 other columns
df = df.fillna(
    {
        "damage": df["damage"].mean(),
        "damage/min": df["damage/min"].mean(),
        "kill_participation": df["kill_participation"].mean(),
        "kill_share": df["kill_share"].mean(),
        "gold_share": df["gold_share"].mean(),
    }
)

# Drop columns: 'wins', 'loses' and 4 other columns
df = df.drop(
    columns=[
        "wins",
        "loses",
        "kill_death_assist_ratio",
        "creep_score",
        "gold",
        "damage",
    ]
)

In [19]:
df.describe()

,games_played,win_rate,kills,deaths,assists,cs/min,gold/min,damage/min,kill_participation,kill_share,gold_share
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,8.553299,44.347631,2.411887,2.662513,5.545406,6.160846,344.772420,389.574572,66.154545,20.122862,19.969577
std,4.127943,25.041223,1.426289,1.008415,2.208433,3.069990,68.679068,91.143716,9.176678,10.380981,3.491581
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.410000,177.000000,88.000000,26.700000,0.000000,12.400000
25%,6.000000,28.600000,1.330000,2.000000,4.130000,3.962500,299.000000,389.574572,60.500000,13.725000,18.000000
50%,7.000000,44.400000,2.250000,2.560000,5.200000,7.355000,354.000000,389.574572,66.154545,20.122862,20.500000
75%,11.000000,61.100000,3.330000,3.200000,6.772500,8.600000,396.000000,389.574572,71.700000,26.700000,22.600000
max,21.000000,100.000000,10.000000,7.830000,17.000000,11.170000,519.000000,822.000000,100.000000,100.000000,26.900000

In [20]:
df.head()

,player,games_played,win_rate,kills,deaths,assists,cs/min,gold/min,damage/min,kill_participation,kill_share,gold_share
101,Balls,3,33.3,3.67,3.00,5.33,6.35,326,389.574572,66.154545,20.122862,19.969577
102,Hai,3,33.3,1.67,5.67,5.33,6.45,311,389.574572,66.154545,20.122862,19.969577
103,LemonNation,3,33.3,0.67,5.33,8.33,0.77,206,389.574572,66.154545,20.122862,19.969577
104,Meteos,3,33.3,2.67,3.00,4.67,5.43,306,389.574572,66.154545,20.122862,19.969577
105,Sneaky,3,33.3,2.67,3.00,6.00,6.86,334,389.574572,66.154545,20.122862,19.969577

In [23]:
df["player_id"] = pd.Series(range(1, len(df) + 1))
# create an 2xlen(df) array with the player_id column and player name
player_id = df["player_id"]
player_name = df["player"]
player_id_name = np.array([player_id, player_name])

df = df.drop("player", axis=1)

In [ ]:
df